html,body{
	height:100%;
	     	
}
body{
	background: #c7b39b url(http://365psd.ru/images/backgrounds/bg-dark-4827.png);
    color: #696969;
}
#preloader{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #9A12B3;
z-index: 30;}
 
.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#preloader .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}       
.navigation{
	width:100%;
	
	border-bottom: 4px solid #000;
	display:flex;
	justify-content: center;
	align-items: center;
}
h1{
	font-weight: 300;
	letter-spacing: 1.5px;
	font-size: 55px;	
}
.overlay{
	width: 100%;
	height: 100vh;
	background-color: #000;
	opacity: 0.6;
	position: fixed;
	top: 0; 
	left: 0;
	display:none;
}
.modal{
	width: 600px;
	height: 700px;
	position:fixed;
	background-color: #fff;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	display: none;
}
#active-image{
	width: 100%;
}
.modal #close{
	position: absolute;
	color: #fff;
	font-size:30px;
	right: -30px;
	cursor: pointer;
}
.modal #close:hover{
	animation-name: round;
	animation-duration: 1.5s;
}
.modal #left, #right{
	font-size: 35px;
	color:#fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;;
}
.modal #left{
	left: -40px;
}
.modal #right{
	right: -40px;
}
@keyframes round{
	to {
		transform:rotate(-360deg);
	}
}
.gallery{
	
	width: 100%;
	height: auto;
	display:flex;
}
.container{
	width: 800px;
	height: 100vh;
	margin: auto;
	justify-content: center;
	align-items: center;
}
.images{
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-gap: 5px;
	
}
.image{
	width:100%;
}
.image:hover{
	cursor: pointer;
	opacity: 0.5;
	
}
nav{
	width: 960px;
	margin:0 auto;
}
nav:before{
	content: ' ';
	display: block;
	height: 50px;
	width: 100%;
	background: #000;
	position: absolute;
	left:0;
	z-index: -1;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}
ul li{
	float: left;
}
ul li a{
	color:#fff;
	display: block;
	height: 50px;
	padding:0 30px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 50px;
}
ul li a:hover{
	background: #d34d34
}


@media (max-width: 1000px){
	.container{
		width: 300px;

	}
	.images{
		grid-template-columns: 1fr;
	}


}
