div
{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid red;
	

}
div:hover{
	width:30px;
}
.triangleup
{
	transition-duration: 3s;
	transition-timing-function:linear; 
}